* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    /* overflow-x:hidden ; */
}
.container {
    padding: 0 30px;
    margin: auto;
    width: 100%;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}


a {
    text-decoration: none;
}

::selection {
    color: white;
    background: #499e03;
}

body {
    background-color: rgb(14, 13, 13);
    font-family: 'IBM Plex Mono';
    font-size: 14px;
}

.navbar-container {
    display: flex;
    justify-content: center;
}

nav {
    color: #9C9C9C;
    /* width: 50%; */
    height: 65px;
    margin-top: 8px;
    background-color: #1B1B1B;
    border-radius: 70px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* stick nav on top */
     position: fixed;
    /* top: 0; */
    /* width: 100%; */
}


nav > .menu-items {
    width: 100px;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
    color: #9C9C9C;
    margin: 5px;
}

nav > .menu-items:hover {
    /* font-size: 15px; */
    cursor: pointer;
    color: rgb(29, 243, 10);
    text-shadow: 2px 2px 12px #a2ff55;
    /* transform:  translate3d(3); */
    transition: text-shadow 0.5s, color 0.5s, transform 0.2s;
}

nav > .menu-items:active {
    color: white;
}

.navbar-container.sidebar {
    position: fixed;
    /* top: 0;
    right: 0; */
    height: 100vh;
    width: 250px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white !important;
}

/* End of navbar section */

.hero-container {
    /* width: 70%; */
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.hero {
    margin-bottom: 100px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    color: white;
}

.hero-left-side {
    width: 50%;
    margin: auto;
}

.hero-left-side > .hero-heading{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 2.75rem;
}


.hero-left-side > .hero-intro {
    margin: 30px 0;
    color: #9C9C9C;
    width: 80%;   
    line-height: 2;
}

.hero-left-side > .hero-btn {
    font-size: 16px;
    width: 290px;
    padding: 21px 64px ;
    color: white;
    background-color: #3F8E00;
    border: 1px solid #62BA1B;
    border-radius: 4px;
}

.hero-left-side > .hero-btn:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px #3F8E00;
    transition: box-shadow 0.7s;
}

.hero-left-side > .hero-btn > i {
    margin-left: 10px;
}


.hero-right-side {
    width:50%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.hero-image {
    max-width: 80%;
    border-radius: 50%;
    margin: auto;
}

.hero-image:hover {
    box-shadow: 0 0 50px rgb(29, 243, 10);

}

/* end of hero section  */

.experience-with {
    display: flex;
    flex-direction: column;
}


.experience-with-heading {
    width: 50%;
    margin: auto;
    text-align: center;
    color: rgb(189, 189, 189);
}

.experience-with-icons {
    margin: auto;
    width: 60%;
    /* height: 150px; */
    font-size: 60px;
    /* background: #8AEB3A; */
    background: linear-gradient(to top, #94f147 0%, #439600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;

}

.experience-with-items {
    margin: 30px;
}

/* .experience-with-icons > i:hover {
    color: white;
    background-color: white;
} */


/* end of experience with section */

.projects-container {
    margin-top: 50px;
    margin: auto;
}

.projects-heading{
    color: rgb(189, 189, 189);
    font-size: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}


.projects-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}
        
.project-card {
    margin: 30px;
    border-radius: 20px;
    background-color: #2A2A2A;
}

.project-card > img {
    width: 100%;
    

}

.project-card > img:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.project-card-bottom {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5px 20px;
    font-family: 'Poppins';
    cursor: pointer;
}




.project-card-bottom > div > span{
    font-size: 10px;

}

.project-card-bottom > div > h4 {
    padding: 0;
    margin: 5px 0;
    font-size: 19px;
}

.project-card-bottom i:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}


/* end of projects sections */

.about-me-section {
    margin: 100px auto;
    padding-top: 30px;
    background-color: #2A2A2A;
}

.about-me-section  h2 {
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

.about-me-section h2 span {
    color: #94f147;
}

.about-me-container {
    display: flex;
    justify-content: space-evenly;
}

.about-me-img {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.about-me-img > img {
    object-fit: contain;
    width: 40rem;
    position: absolute;
    bottom: 0;
    
}
.about-me-img > img:hover {
    filter: drop-shadow(5px 5px 5px rgb(29, 243, 10));
    transition: filter 0.2s;
}


.about-me-details {
    padding:50px 0;
}

.about-me-details > h3 {
    color: white;
    font-size: 40px;
    font-weight: 500;
    margin: 15px 0 5px;
}
.about-me-details > h5 {
    color: #94f147;
    font-size: 25px;
    margin-bottom: 5px;
    /* margin: 10px 0; */
}

.about-me-details > .short-description {
    font-size: 17px;
    line-height: 28px;
    width: 80%;
    margin: 20px 0;
    color: white;
}

.list-details-container .list-details {
    margin: 20px 0;
    font-size: 18px;
    color: #9C9C9C;
    line-height: 32px;
    list-style-type: none;
}

.list-details li > span.key {
    display: inline-block;
    width: 120px;
}


.download-cv-btn {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    width: 30%;
    padding: 21px 64px ;
    color: white;
    background-color: #3F8E00;
    border: 1px solid #62BA1B;
    border-radius: 4px;
}

.download-cv-btn:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px #3F8E00;
    /* text-shadow: 0 -1px 2px white; */
    transition: text-shadow 0.7s, box-shadow 0.7s;
}


@media (max-width: 994px) {
    
    .hero-container {
        width: 70%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 200px;

        text-align: center;
    }

    
    .hero-right-side {
        padding-bottom: 40px;
    }
    
    .hero-left-side {
        width: 100%;
        /* display: flex; */
        /* flex-direction: column;
        justify-content: center;
        align-items: center; */
    }

    .hero-left-side > .hero-intro {
        width: 100%;
    }
 
    
    .experience-with-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects-cards {
        display: flex;
        flex-direction: column;
    }

    .hero-left-side > .hero-btn {
        font-size: 0.8rem;
        padding: 1.313rem ;
        text-align: center;
        width: 100%;
    }

    .navbar-container {
        display: none;
    }
}

@media (max-width: 1200px) {
    .about-me-container  {
        flex-direction: column-reverse;
        position: static;
        
    }
    .about-me-img > img {
        position: static;
        width: 100%;
    }
}


